@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "newromanboldcond";
  src: local("times-new-roman-mt-bold-condensed"),
    url("./assets/times-new-roman-mt-bold-condensed.otf") format("otf");
}

#root {
  background-color: black;
  color: white;
}
